.App{
    display:flex;
    justify-content:center;
    min-height:100vh;
    background:#000;
}

.layout-container{
    display:flex;
}

.main-content{
    width:600px;
    min-height:100vh;
}

.right-sidebar{
    width:350px;
    min-height:100vh;
}