.create-post {
  background-color: #1e1e2f;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.create-post h1 {
  margin-bottom: 15px;
  color:azure;
}

.post-input {
  min-height: 100px;
  padding: 10px;
  font-size: 16px;
  resize: none;
  margin-bottom: 10px;
}

.post-btn {
  width: 120px;
  padding: 10px;
  border: none;
  background-color: #00acee;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.post-btn:hover {
  opacity: 0.9;
}